@model PagedList.IPagedList<BusinessLogic.Model.SeedBucket>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<!--Modal START-->
<div class="modal fade" id="runModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Start Running</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The Process start running, if you want to see more details go to the RunLog tab.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary" onclick="location.href = '/RunLog/Index/'">Go to RunLog</button>
                -->
            </div>
        </div>
    </div>
</div>
<!--Modal END-->

<div class="row ">
    <div class="col-xs-1">
        <h2>SeedBuckets</h2>
    </div>
    <div class="col-xs-1 pull-right">
        <button type="button" class="pull-right btn btn-success btn-new" title="Add" onclick="location.href='/SeedBucket/New'">New</button>
    </div>
</div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>UUID</th>
            <th>Name</th>
            <th>Description</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>MarkAsRead</th>
            <th>MoveToInbox</th>
            <th>Reply</th>
            <th>Click</th>
            <th>Forward</th>


            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
            {
            <tr>
                <td>@item.UUID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreatedAt</td>
                <td>@item.UpdatedAt</td>
                <td class="disabled">@Html.CheckBox("moveToInbox", item.MarkMailAsRead, new { @disabled = "disabled" })</td>
                <td>@Html.CheckBox("moveToInbox", item.MoveMailToInbox, new { @disabled = "disabled" })</td>
                <td>@Html.CheckBox("moveToInbox", item.ReplyMail, new { @disabled = "disabled" })</td>
                <td>@Html.CheckBox("moveToInbox", item.ClickMail, new { @disabled = "disabled" })</td>
                <td>@Html.CheckBox("moveToInbox", item.ForwardMail, new { @disabled = "disabled" })</td>

                <td>
                    <button type="button" class="btn btn-warning btn-xs" title="Edit" onclick="location.href='/SeedBucket/Edit/@item.Id'">Edit</button>
                    <button type="button" class="btn btn-danger btn-xs" title="Delete" onclick="location.href='/SeedBucket/Delete/@item.Id'">Delete</button>
                    <button type="button" class="btn btn-primary btn-xs" title="Run" onclick="runSeeder('@item.Id')">Run</button>

                </td>
            </tr>
        }
    </tbody>
</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @if (@Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    }

<script>
    function runSeeder(id) {
        $("#runModal").modal().modal('show');
        setTimeout(function () { $("#runModal").modal().modal('hide'); location.href='/SeedBucket/Run/'+id; }, 3000);

    }

</script>